body{
    font-family: sans-serif;
}


header{
    
    background-color: #9ee3f5;
    background-image: url(./images/bg-hero-desktop.svg);
    
}

.header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}

.header_top_img{

    width: 15%;
    height: 15%;
    
}

.header_top_button{
    padding: 1rem 3.5rem 1rem 3.5rem;
    border: none;
    border-radius: 2rem;
    background-image: linear-gradient(90deg, #85d4ff,#e683fc);
    box-shadow: 0 5px 10px 0.5px rgb(128 141 153 / 20%) ;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
}




.header_bot{
    display: flex;
    align-items: center;
    padding: 5rem 5rem 0 5rem;
    
}

.header_bot_esquerda{
    width: 45%;
    padding-right: 2rem;
    
}

.header_bot_direita{
    width: 55%;
}


.header_bot_subtitle{
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 4rem;
    
}

.header_bot_img{
    width: 100%;
    height: 100%;
    max-width: 750px;
    max-height: 600px;
}

.header_bot_text{
    padding-top: 2rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
}

.header_bot_button{
    margin-top: 2rem;
    padding: 1.2rem 4.2rem 1.2rem 4.2rem;
    border: none;
    border-radius: 2rem;
    background-image: linear-gradient(90deg, #85d4ff,#e683fc);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    
}




@media screen and (max-width: 1000px) {
    body{
        margin: 0;
    }
    .header_top{
        flex-direction: column;
        gap: 2rem;
    }

    .header_top div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
   

    .header_top_img{
        width: 220px;

    }

  

    .header_bot{
        flex-direction: column;
        padding: 0;
        padding-top: 1rem ;
    }

    .header_bot_esquerda{
        padding: 0;
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        padding: 2rem 2rem 0 2rem;
    }

    .header_bot_subtitle{
        font-size: 1.5rem;
        line-height: 1.2;
    }

   .header_bot_button{
       padding:1rem 4.5rem 1rem 4.5rem;
   }

   .header_bot_direita{
       width: 100%;
       
   }

   .header_bot_img{
       width: 100%;
       box-sizing: border-box;
       padding: 4rem 2rem;
       max-width: 1000px;
    }


}    