
.container-success{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.container-text{
    font-size: 3rem;
    padding-top: 3rem;
    
}

@media screen and (max-width: 1000px) {

    .container-success img{
        width: 50%;
        max-width: 250px;
        padding: 2rem 0;
        }

    .container-text{
        font-size: 1.5rem;
    }

}