body{
    margin: 0 5rem 0 5rem;
    background-image: url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    
}


main{
    margin: 5rem 5rem 0 5rem;
   
}

.container{
    display: flex;
    margin-top: 4rem;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    box-shadow: 0 0px 10px 0.5px rgb(128 141 153 / 20%);
    border-radius: 15px;
}

.container_esquerda{
    width: 40%;
    padding: 0 0 0 4rem;
}

.container_title{
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 2rem;
    font-family: sans-serif;
}

.container_text{
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: gray;
    font-family: sans-serif;
}

.container_img{
    
    width: 40%;
    height: 800%;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {

main{
    margin: 0;
    }

    .container{
    flex-direction: column-reverse;
    padding: 0;
    box-sizing: border-box;
    }

    .container:nth-child(2){
        flex-direction: column;
    }

    .container_esquerda{
    padding: 2rem ;
    text-align: center;
    }



    .container_title{
    font-size: 1.5rem;
    }

    .container_esquerda{
        box-sizing: border-box;
        width: 100%;
    }

    .container_img{
        padding: 2rem;
        box-sizing: border-box;
        width: 100%;
    }

}